---
layout: default
refactor: true
---

{% include lang.html %}



<head>
  <h1 style="font-size: 60px; text-align: center;">
    Hello!
</h1>

</head>
<p>
  My name is Praveen and welcome to my website! I graduated from UCLA in June 2023 
  majoring in Mathematics and Economics with a minor in Computation. My journey to this 
  point has been defined by a relentless drive for learning and a deep-seated desire
   to create impact. Fueled by an insatiable curiosity, I strive to continuously grow and
    embrace challenges with enthusiasm. My passion lies in leveraging data to guide strategic 
    decision-making
    and pioneering transformative technologies in unexplored domains.
  <br>
  <br>
  <a href="https://drive.google.com/file/d/1uCEso1qr6DPC6vkS0IcDVDUmuB8OCjdX/view?usp=sharing"target="_blank">Resume</a>
</p>
<div class="custom-image-container">
<img src="https://user-images.githubusercontent.com/114946455/231066370-7baea9b9-b1b6-419b-a3a1-c9a0db5bf28c.gif">
</div>
<p style="text-align: center; font-style: italic;">
  Population Growth Rate in the US 1970-1975
</p>
<p>Here is a visualization I made! Find the complete version (1970-2020) <a href="https://drive.google.com/file/d/14dtF-J1U4thSkdRu88S5Oc7tmt47UHOm/view?usp=sharing"target="_blank">here</a>.</p>
  


<!-- <body>
{{ "<img src='/assets/img/population_growth.gif'>" | markdownify }}

</body> -->
<!-- <figure>
<img src="/assets/img/population_growth.gif" style="width: 70%">
<br>
<br>
</figure> -->




